@import '../../../style/style.scss';

.container {
    display:flex;
}

.padding-xl {
    padding: 64px 20px 64px 20px;
}

.bg-base {
    background-color: map-get($palette, base)
}

.bg-level1 {
    background-color: map-get($palette, level1);
}

.bg-peach {
    background-color: map-get($palette, peach-accent);
}

.bg-violet {
    background-color: map-get($palette, violet-accent);
}

.magin-top-40 {
    margin-top: 40px;
}

@media screen and (min-width:768px) {

    /*     .container {
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    } */

    .padding-xl {
        padding: 120px 72px;
    }

    .lg-padding-right-48 {
        padding-right:48px;
    }

}