@import '../../../style/style.scss';

.heading1 {
    font-family: SenBold;
    font-style: normal;
    line-height: normal;
    margin:0;
    text-align: left;
}

.heading2 {
    font-family: SenBold;
    font-style: normal;
    line-height: normal;
    margin:0;
    text-align: left;
}

.heading3 {
    font-family: SenBold;
    font-style: normal;
    line-height: normal;
    margin:0;
    text-align: left;
}

.heading4 {
    font-family: SenBold;
    font-style: normal;
    margin:0;
    text-align: left;
}

.heading5 {
    font-family: SenBold;
    font-style: normal;
    margin:0;
    text-align: left;
}

.body1 {
    font-family: SenRegular;
    font-style: normal;
    margin: 0;
    text-align: left;
}

.body2 {
    font-family: SenRegular;
    font-style: normal;
    margin-bottom:0;
    margin-top:0;
    text-align: left;
}

.a {
    font-family: SenRegular;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid map-get($palette, darkest-grey);
    &:hover {
        color: map-get($palette, text);
    }
}

.simple {
    font-family: SenRegular;
    font-size: 16px;
    line-height: 150%;
    margin:0;
    color:white;
}

.overline {
    font-family: SenBold;
    font-size: 16px;
    text-transform: uppercase;
    margin:0;
    text-align: left;
}

.button {
    font-family: SenBold;
    font-size: 18px;
    text-transform: uppercase;
    margin:0;
    text-align: left;
}

.h2-like {
    font-family: SenBold;
    font-size:32px;
}

.p-like {
    font-family: SenRegular;
    font-size:16px;
}

.text-align-left {
    text-align: left;
}

.margin-top-16 {
    margin-top:16px;
}

.margin-top-24 {
    margin-top:24px;
}

.margin-top-40 {
    margin-top:40px;
}

.margin-0 {
    margin:0;
}

.base {
    color: map-get($palette, base);
    &:hover {
        color:map-get($palette, base);
    }
}

.level1 {
    color: map-get($palette, level1);
}

.light-grey {
    color: map-get($palette, light-grey);
}

.dark-grey {
    color: map-get($palette, dark-grey);
}

.darkest-grey {
    color: map-get($palette, darkest-grey);
}

.text {
    color: map-get($palette, text);
    &:hover {
        color: map-get($palette, text);
    }
}

.primary {
    color: map-get($palette, primary);
}

.light-primary {
    color: map-get($palette, light-primary);
}

.green-accent {
    color: map-get($palette, green-accent);
}

.pink-accent {
    color: map-get($palette, pink-accent);
}

.peach-accent {
    color: map-get($palette, peach-accent);
}

.violet-accent {
    color: map-get($palette, violet-accent);
}

.middle-grey {
    color:map-get($palette, middle-grey)
}

.grey-label {
    color:map-get($palette, grey-label)
}

.uppercase {
    text-transform: uppercase;
}

@media screen and (min-width: 0) {

    .label {
        font-size: 117px;
        font-weight: 700;
    }

    .heading1 {
        font-size: 32px;
        font-weight: 700;
    }

    .heading2 {
        font-size: 32px;
        font-weight: 700;
    }
    
    .heading3 {
        font-size: 24px;
        font-weight: 700;
    }
    
    .heading4 {
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
    }
    
    .heading5 {
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
    }

    .body1 {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        margin: 0;
    }
    
    .body2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        margin-bottom:0;
    }

    .a {
        font-size: 16px;
        line-height: 150%;
        margin: 0;
    }
    
    .overline {
        font-size: 16px;
        line-height: 150%;
    }
    
    .button {
        font-size: 18px;
        line-height: 150%;
    }
    
}

@media screen and (min-width: 768px) {
    
    .heading1 {
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .heading2 {
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .heading3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .heading4 {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
    
    .heading5 {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
    
    .body1 {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0;
    }
    
    .body2 {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom:0;
    }

    .a {
        font-size: 16px;
        line-height: 150%;
        margin: 0;
    }
    
    .overline {
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
    }
    
    .button {
        font-size: 18px;
        line-height: 150%;
        text-transform: uppercase;
    }

    .xl-h3 {
        font-size: 55px;
    }

    .margin-top-16 {
        margin-top:16px;
    }

    .margin-top-24 {
        margin-top:24px;
    }

    .margin-top-40 {
        margin-top:40px;
    }

    .xl-h1 {
        font-size:55px;
    }
}

@media screen and (min-width: 1200px) {

    .heading1 {
        font-size:76px;
    }

    .xl-h3 {
        font-size:55px;
    }
    
    .xl-h1 {
        font-size:76px;
    }

}