@import '../../../style/style.scss';

.title-list {
    display:flex;
    flex-direction: column;
    gap:40px;

    &__title-list {
        display:flex;
        flex-direction: column;
        gap:24px;
    }
}



.list {
    background-color: map-get($palette, base);
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    gap:40px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.icon-size {
    width:32px;
    height:32px;
}

.bg-icon-square {
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url('/images/icons/Square.jpg');
    background-size: cover;
    background-position: 50%;
}

.bg-icon-circle {
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url('/images/icons/Ellipse.jpg');
    background-size: cover;
    background-position: 50%;
}

.bg-icon-pen {
    position: relative;
    width: 25px;
    height: 25px;
    background-image: url('/images/icons/Pen.svg');
    background-size: cover;
    background-position: 50%;
}

.icon-diagonal {
    transform: translate(11px, -9px);
}

@media screen and (min-width:768px) {

    .title-list {
        display:flex;
        flex-direction: row;
        gap:0;
        column-gap: 24px;
    
        &__title-list {
            display:flex;
            flex-direction: column;
            gap:24px;
        }
    }

    .list {
        background-color: #000;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: row;
        column-gap:24px;
        row-gap:40px;

        &__container {
            width: 48%;
        }
    }
    
}