@import '../../../style/style.scss';

.card {
    margin:40px 0 0 0;
    padding:0;
    background-color: map-get($palette, level1);

    &__image {
        height:100%;
        width: 100%;
        object-fit: cover;
    }

    &__body {
        padding:24px 20px;
    }
}

.height-360 {
    height:360px;
}

@media screen and (min-width:768px) {
    
    .card {
        margin:0;
    
        &__image {
            height:620px;
        }
    }

}