.title-paragraph-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gap-small {
    gap: 8px;
}

.gap-medium {
    gap: 12px;
}

.gap-large {
    gap: 16px;
}

.xs-gap-medium {
    gap:40px;
}

@media screen and (min-width:768px) {
    .title-paragraph-wrapper {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 2;
    }

    .gap-large {
        gap: 32px;
    }

    .padding-small-title-paragraph {
        padding: 0 0 48px 0;
    }

    .padding-medium-title-paragraph {
        padding: 0 40px 0 140px;
    }

    .xs-gap-medium {
        gap:0;
    }

}