@import '../../../style/style.scss';

.philosophy {
    text-align: left;
    background-color: map-get($palette, peach-accent);
    padding: 46px 20px 53px 20px;

    &__container {
        display:flex;
        flex-direction: column;
        gap:16px;
        padding: 48px 0 83px 0;
    }
}