@import '../../../style/style.scss';

.brand-wrapper {
    display:grid;
    grid-template-columns: auto auto;
    background-color: map-get($palette, base);

    &__image {
        width:100%;
        height:100%;
    }
}