$palette: (
    base: #000,
    level1: #181823,
    light-grey: #DEECF9,
    dark-grey: #C7E0F4,
    darkest-grey: #5B6876,
    grey-label: #8491A0,
    text: #FFF,
    primary: #5221E6,
    light-primary: #609BFF,
    green-accent: #3CC74E,
    pink-accent: #E95D90,
    peach-accent: #FFF3E4,
    violet-accent: #FBE4FF,
    middle-grey: rgba(255,255,255,0.5)
);

@font-face {
    font-family: SenRegular;
    src: url('../fonts/Sen/Sen-Regular.woff');
}

@font-face {
    font-family: SenBold;
    src: url('../fonts/Sen/Sen-Bold.woff');
}

a {
    cursor:default;
}
