@import '../../../style/style.scss';

.buttons-images {
  width: 100%;

  &__buttons {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__carousel {
    margin: 40px 0 0 0;
  }

  &__images {
    display: none;
  }
}

.image-from-carousel {
  height: 420px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {

  .buttons-images {

    &__buttons {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }

    &__carousel {
      display: none;
    }

    &__images {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 24px;
      margin: 40px 0 0 0;
    }
  }


  .image-from-carousel {
    width: 47.5%;
  }
}

@media screen and (min-width:1200px) {

  .buttons-images {

    &__images {
      justify-content: space-between;
    }

    .image-from-carousel {
      width: 23.5%;
    }
  }

}