@import '../../../style/style.scss';

.title-number-paragraph {
    background-color: map-get($palette, base);
    display:flex;
    flex-direction: column;
    gap: 40px;

    &__titles {
        display:flex;
        flex-direction:column;
        gap: 8px;
    }
}

.experiences {
    display:flex;
    flex-direction: column;
    gap:40px;

    &__container {
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}



@media screen and (min-width:768px) {

    .experiences {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap:24px;

        &__container {
            margin-top:0;
        }
    }
}