.profile-image {
    margin-top:77.6px;
    width: 100%;
    background-image: url('/images/pictures/ProfileImage.jpg');
    background-size:cover;
    background-position: 50%;
    height:288px;
}

@media screen and (min-width: 768px) {
    .profile-image {
        margin-top:0;
        height: 100%;
    }
}